.winner {
	color: #08f26e;
}

body {
	font-family: lato;
	background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("game.jpg") no-repeat fixed center;
}

.container {
	background: linear-gradient(to right,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
	color: #ffffff;
	text-align: center;
	padding: 30px;
	margin-top: 100px;
}

.buttons {
	margin: 30px 0;
}

#p1, #p2, #reset {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 8px;
}

.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors {
	font-size: 50px;
}

#text {
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
	text-transform: uppercase;
}