.winner {
	color: #08f26e;
}

body {
	text-align: center;
	font-family: lato;
	background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("game.jpg") no-repeat fixed center;
}

.container {
	background: linear-gradient(to right,rgba(0,0,0,0.2),rgba(0,0,0,0.2));
	color: #ffffff;
	text-align: center;
	padding: 30px;
}

.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors {
	font-size: 40px;
}

#p1, #p2, #reset {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}